<!--
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="../onsen-css-components-blue-basic-theme.css">
    <link rel="stylesheet" href="login.css">

    <script src="lib/onsen/js/onsenui.js"></script>
  </head>
  <body>
-->

<ons-page>
    <ons-toolbar>
      <div class="center">Log In</div>
      <!--<div class="right"><ons-toolbar-button>Close</ons-toolbar-button></div>-->
    </ons-toolbar>
    
    <!-- 20180903 - Login Validation -->
    <div class="login-form">
      <input  id="username"
              type="email" 
              modifier="underbar"
              class="text-input--underbar" 
              placeholder="Enter an Email Adress" 
              value=""
              title="User Name"
              required 
              float
              >
      <input  id="password"  
              type="password" 
              modifier="underbar"
              class="text-input--underbar" 
              placeholder="Enter your Password" 
              value=""
              title="Password"
              required 
              float
              >
      <br><br>
      <ons-button modifier="large" class="login-button" type="submit" (click)="login()">
        Log In
      </ons-button>
      <br><br>
      <!-- 20180903 - Forgot Page Navigation -->
      <ons-button modifier="quiet" class="forgot-password" (click)="forgot()">
        Forgot password?
      </ons-button>
    </div>
  </ons-page>

<!--  
<script>//<![CDATA[
document.write('<script src="//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1"><\/script>')
//]]></script>
</body>
</html>
-->